@media (min-width: 480px) {

body {
    margin: 0 auto;
    padding: 0;
    overflow-y: scroll;
}


/*Main Menu and Navigation*/
.menu {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: black;
    min-width: 100%;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 9999;
}
.menu a, .socials, p {
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 10px;
    white-space: nowrap;
}

.menu a:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 5px;
}

.menu img {
    position: relative;
    display:block;
    align-self: center;
    max-width: 10%;
    width: 10%;
    height: auto;
    object-fit: contain;
}

.menu .socials {
    border: 0px;
    background-color: black;
    cursor: pointer;
}

/*Game Info Content*/
.gameinfo-container {
    position: relative;
    top: 50px;
    width: 100%;
    margin: auto;
    cursor: pointer;
}

.gameinfo-container .header {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    margin-bottom: 20px;
    z-index: 9998;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

.gameinfo-container h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 36px;
    white-space: nowrap;
}

.gameinfo-container .content {
    position: relative;
    top: 10vh;
    left: 2%;
    width: 90%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
}

.gameinfo-container .content p  {
    margin-bottom: 15px;
    line-height: 1.6;
    color: black;
    white-space: wrap;
    font-size: 18px;
    font-weight: normal;
    left: 5%;
    text-align: center;
}

.gameinfo-container .content li  {
    margin-bottom: 15px;
    line-height: 1.6;
    color: black;
    white-space: wrap;
    font-size: 18px;
    font-weight: normal;
}

/*Footer*/
footer {
    position: relative;
    top: 25vh;
    left: 0;
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
}
    footer .social-icons {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }

    footer .creator-logo {
        position: relative;
        left: 46%;
        max-width: 10%;
        height: auto;
    }

    footer .copyright {
        position: relative;
        text-align: center;
        font-size: clamp(12px, 2vw, 16px);
        padding: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        white-space: nowrap;
        font-weight: bold;
    }

    footer .agreement {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px;
        font-size: clamp(12px, 2vw, 16px);
        cursor: pointer;
    }

    footer a:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 5px;
    }

}