@media (min-width: 600px) and (max-width: 1024px) {
body {
    overflow-y: scroll;
    cursor: pointer;
}
}

/*Main Menu and Navigation*/
@media (min-width: 100px) and (max-width: 1440px) {
.menu {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: black;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 9999;
}
.menu a, .menu .socials, p {
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 10px;
    white-space: nowrap;
}

.menu a:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 5px;
}

.menu img {
    position: relative;
    display:block;
    align-self: center;
    max-height: 40px;
    max-width: 100px;
    height: auto;
    width: auto;
    object-fit: contain;
}

.menu .socials {
    border: 0px;
    background-color: black;
    cursor: pointer;
}

.menu .socials:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 5px;
}
}

/*Game Info Content*/
.gameinfo-container {
    position: relative;
    top: 50px;
    width: 100%;
    margin: auto;
    cursor: pointer;
}

.gameinfo-container .header {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    text-align: center;
    margin-bottom: 20px;
    z-index: 9998;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

.gameinfo-container h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 15px;
    font-size: 36px;
}

.gameinfo-container .content {
    position: relative;
    top: 180px;
    left: 0;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
}