@media (min-width: 480px) {

body {
    margin: 0 auto;
    padding: 0;
    overflow-y: scroll;
}


/*Main Menu and Navigation*/
.menu {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: black;
    min-width: 100%;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 9999;
}
.menu a, .socials, p {
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 10px;
    white-space: nowrap;
}

.menu a:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 5px;
}

.menu img {
    position: relative;
    display:block;
    align-self: center;
    max-width: 10%;
    width: 10%;
    height: auto;
    object-fit: contain;
}

.menu .socials {
    border: 0px;
    background-color: black;
    cursor: pointer;
}

/*Background Image Section*/
    .background {
        position: absolute;
        width: 100%;
        height: auto;
        top: calc(100px-50px);
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: -1;}

    .background .bgimage {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

/*Registration form*/

.form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 70px;
    left: 25%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 400px;
    background-color: rgba(255,255,255,0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.form-container label {
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.form-container input {
    width: 80%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.form-container button {
    width: 50%;
    padding: 10px;
    background-color: rgba(255,0,0,0.6);
    color: black;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

/*Footer*/
footer {
    position: relative;
    top: 15vh;
    left: 0;
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
}
    footer .social-icons {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }

    footer .creator-logo {
        position: relative;
        left: 46%;
        max-width: 10%;
        height: auto;
    }

    footer .copyright {
        position: relative;
        text-align: center;
        font-size: clamp(12px, 2vw, 16px);
        padding: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        white-space: nowrap;
        font-weight: bold;
    }

    footer .agreement {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px;
        font-size: clamp(12px, 2vw, 16px);
        cursor: pointer;
    }

    footer a:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 5px;
    }

}
}